/* Mobile Design */
@media screen and (max-width: 576px) {
  .navBar {
    display: none;
  }

  /* Banner Input */
  .banner{
    width: 90%;
    height: auto;
  }
  .bannerText h2{
    font-size: 1.21rem;
  }
  .bannerInput {
    flex-direction: column;
    width: 287px;
    height: 288px;
    margin-top: 1.4rem;
  }
}
